<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> <title>[스프링 게시판]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="js/detail_show.js"></script>
</head>
<body style="width: 1200px">
    <div class="ml-5 mt-5" id="one-board" >
        <a href="/"><h2>스프링 게시판</h2></a>
        <div style="padding-top: 30px">
            <hr class="my-1">
            <span class="col-sm-9" id="title" th:text="${board.title}" style="padding-right: 800px; font-size: 20px;">${response.title}</span>
            <span class="col-sm-9" th:text="${#temporals.format(board.modifiedAt,'yyyy-MM-dd HH:mm')}">${time}</span>
            <hr class="my-1">
            <span class="col-sm-9" id="username" th:text="${board.username}" style="font-size: 14px; font-weight: lighter">${response.username}</span>
            <hr class="my-1">
        </div>

        <div id="show_one_board">
            <p id="content" th:text="${board.content}" style="padding-top: 12px; padding-left: 20px; height: 200px; white-space:pre;">
                ${response.content}
            </p>
        </div>

        <div class="form-group" style="display: none" >
            <label for="SelectedTitle" style="font-weight: bold">제목</label>
            <input class="form-control col-sm-5" id="SelectedTitle">
        </div>
        <div class="form-group" style="display: none">
            <label for="SelectedContent" style="font-weight: bold">내용</label>
            <textarea class="form-control col-sm-7" id="SelectedContent" rows="8"></textarea>
        </div>
        <div th:if="${#authorization.expr('isAuthenticated()')}">
            <div th:if="${present_userId.equals(board.userId)}" style="padding-left: 20px">
                <button type="button" class="btn btn-outline-primary mr-2" id="changeToUpdate" th:onclick="|javascript:changeToUpdateBoard('${board.id}')|">수정하기</button>
                <button type="button" class="btn btn-outline-primary mr-2" id="realUpdate" style="display: none" th:onclick="|javascript:UpdateOneBoard('${board.id}')|">수정하기</button>
                <button type="button" class="btn btn-outline-primary" th:onclick="|javascript:deleteOneBoard('${board.id}')|">삭제하기</button>
            </div>
        </div>
    </div>
    <div class="container ml-5 mt-5">Comments
        <div th:if="${#authorization.expr('isAuthenticated()')}" class="input-group">
            <textarea class="form-control" aria-label="With textarea" id="comment-write"></textarea>
            <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-primary" th:onclick="|javascript:createOneComment('${board.id}')|">댓글 쓰기</button>
            </div>
        </div>
        <div th:unless="${#authorization.expr('isAuthenticated()')}"  class="input-group" onclick="redirectToLogin()" style="cursor:pointer">
            <textarea class="form-control" aria-label="With textarea"></textarea>
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary">댓글 쓰기</button>
            </div>
        </div>
        <Table class="table" style="width:100%">
            <tbody id="board-container">
                <tr th:each="comment : ${comments}" >
                    <td th:text="${comment.username}" style="font-weight: bold">채진욱</td>
                    <td th:text="${comment.content}" th:classappend="|comment_${comment.id}|" style="width:50%; white-space:pre-line; text-align:justify">동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세</td>
                    <td th:classappend="|comment_save_${comment.id}|" style="width:50%; display: none"> <textarea th:text="${comment.content}" th:id="|comment_update_${comment.id}|" rows="3" style="width: 100%" ></textarea></td>
                    <td th:text="${#temporals.format(comment.modifiedAt,'yyyy-MM-dd HH:mm')}" th:id="|editing_${comment.id}|" style="width:15%">2021-03-31 13:40</td>
                    <td th:if="${#authorization.expr('isAuthenticated()')}" th:classappend="|comment_${comment.id}|">
                        <input th:if="${present_userId.equals(comment.userId)}" type="button" id="comment_update" class="btn btn-outline-primary" th:onclick="|javascript:clickUpdateCommentBtn('${comment.id}')|" value="수정">
                    </td>
                    <td th:if="${#authorization.expr('isAuthenticated()')}">
                        <input th:if="${present_userId.equals(comment.userId)}" type="button" class="btn btn-outline-primary" th:classappend="|comment_save_${comment.id}|" style="display: none" th:onclick="|javascript:updateOneComment('${comment.id}','${board.id}')|" value="저장">
                    </td>
                    <td th:if="${#authorization.expr('isAuthenticated()')}" th:classappend="|comment_${comment.id}|">
                        <input th:if="${present_userId.equals(comment.userId)}" type="button" id="comment_delete" class="btn btn-outline-primary" th:onclick="|javascript:deleteOneComment('${comment.id}','${board.id}')|" value="삭제">
                    </td>
                </tr>
            </tbody>
        </Table>
    </div>
</body>
</html>
